@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

:root {
    --smoke-gray: #f5f5f5;
    --nero: #262626;
    --blue: #197bff;
    --red: #dc2804;
}

header {
    max-width: 1440px;
    padding: 0 40px;
}

section .wrapper {
    max-width: 1440px;
}

.hero-section {
    background: radial-gradient(76.17% 76.17% at 4.48% 30.08%, #373737 0, #000 100%);
}

.hero-section .wrapper {
    max-width: 1440px;
    padding-inline: 20px;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    color: #fff;
}

.hero-left {
    flex-wrap: wrap;
    padding-left: 20px;
}

.hero-right {
    padding-top: 45px;
    align-self: end;
}

.hero-heading {
    font-weight: 600;
}

.hero-subheading {
    font-size: clamp(24px, 3vw, 48px);
    margin-block: 12px 24px;
}

.hero-image {
    display: block;
    width: 100%;
    height: auto;
    max-width: 700px;
}

.hero-btns button {
    white-space: pre-wrap;
    font-size: 15px;
    padding: 8px 32px;
}

.primary-btn.large {
    display: none;
}

.hero-left label {
    font-size: 13px;
}

section.responsible-section {
    --color: #b94fcb;
    background: white;
}

.responsible-section .wrapper {
    padding: 72px 40px 40px;
}

.section-title {
    color: var(--color);
    font-size: clamp(30px, 4vw, 48px);
    font-weight: 600;
    margin-bottom: 6px;
}

.section-description {
    color: var(--nero);
    font-size: 24px;
    line-height: 32px;
    max-width: 840px;
    margin-bottom: 48px;
}

.data-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.data-column {
    width: 50%;
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 48px;
}

.data-title {
    color: var(--color);
    font-weight: 600;
    font-size: clamp(26px, 3.5vw, 36px);
}

.data-description {
    font-size: 20px;
    line-height: 28px;
}

.data-img {
    flex: 1;
    width: 50%;
    max-height: 400px;
    margin: 0 auto;
}

section.transparent-section {
    --color: #008e50;
    background: white;
}

.transparent-section .wrapper, .trustworthy-section .wrapper{
    padding: 24px 40px 40px;
}

.feature-row {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

.feature-column {
    min-width: 320px;
    padding: 0 12px;
    flex: 1;
    margin-bottom: 36px;
}

.feature-column img {
    margin-bottom: 96px;
}

.feature-title {
    color: var(--color);
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 12px;
}

.feature-description {
    width: 100%;
    max-width: 320px;
    color: var(--nero);
    font-size: 16px;
    line-height: 24px;
}

section.trustworthy-section {
    --color: #dd9812;
    background: white;
}


@media screen and (max-width: 1024px) {
    .hero-heading {
        font-size: 48px;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding: 0 20px;
    }

    .hero-section .wrapper {
        grid-template-columns: 1fr;
        background: none;
    }

    .hero-left {
        flex-wrap: wrap;
        padding: 0 0;
    }

    .hero-right {
        padding-top: 0;
    }

    .hero-image {
        margin: 0 auto;
    }

    .hero-heading {
        font-size: 36px;
    }

    .hero-btns button {
        display: none;
    }

    .primary-btn.large {
        display: inline-block;
        font-size: 16px;
    }

    .hero-image {
        max-width: 500px;
    }

    .hero-left>div {
        justify-content: center;
    }

    .responsible-section .wrapper, .transparent-section .wrapper {
        padding: 32px 20px;
    }

    .section-description {
        font-size: 20px;
        line-height: 1.2;
        max-width: 580px;
    }

    .data-row {
        flex-direction: column;
        row-gap: 20px;
        align-items: flex-start;
    }

    .data-column {
        width: 100%;
        max-width: 100% !important;
    }

    .data-img {
        width: 100%;
        max-width: 480px;
    }

    .data-description {
        font-size: 16px;
        line-height: 24px;
    }

    .feature-row {
        flex-direction: column;
    }

    .feature-column {
        margin-bottom: 36px;
    }

    .feature-column img {
        margin-bottom: 36px;
    }

    .feature-title {
        font-size: 18px;
    }

    .feature-description {
        max-width: 100%;
    }
}

@media screen and (min-width: 1025px) {
    .hero-heading {
        font-size: 60px;
    }
    .section-description {
        font-size: 32px;
        line-height: 40px;
    }
    .data-description {
        font-size: 22px;
        line-height: 30px;
    }
    .feature-title {
        font-size: 24px;
    }
}