@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --smoke-gray: #f5f5f5;
  --nero: #262626;
  --blue: #197bff;
  --red: #dc2804;
}

body {
  background: var(--smoke-gray);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(53, 53, 53, .5);
  transition: opacity .5s ease-in-out;
  z-index: 98;
  opacity: 0;
  pointer-events: none;
}

.overlay.active { opacity: 0.6; }

body:has( .overlay.active) {
  overflow-y: hidden;
}

.header-wrapper {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background: var(--smoke-gray);
  z-index: 100;
}

header {
  min-height: 65px;
  padding: 0 16px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
  z-index: 99;
}

.header-center {
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.nav-list {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  column-gap: 30px;
  row-gap: 2.5px;
}

.nav-list a {
  color: var(--nero);
  font-size: 14px;
  text-decoration: none;
  text-overflow: ellipsis;
}

nav button { display: none; }

.header-center-right {
  display: flex;
  gap: 16px;
  align-items: center;
}

.header-center-right .consent {
  font-size: 12px;
  width: 100px;
  text-align: right;
  color: var(--nero);
}

button {
  padding: 8px 24px;
  border-radius: 3px;
  font-weight: 600;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
}

.secondary-btn {
  border: 1px solid #e3e3e3;
  background: white;
  color: var(--nero);
}

.primary-btn {
  border: 1px solid #000;
  background: var(--nero);
  color: white;
}

.header-right {
  display: flex;
  align-items: center;
}

.nav-toggle-btn {
  display: none;
  margin-left: 10px;
}

.toggle-line {
  width: 20px;
  height: 2px;
  background: var(--nero);
  margin: 5px;
  border-radius: 5px;
  transform-origin: right;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.nav-toggle-btn.active .toggle-line:first-child { transform: rotate(-45deg); }
.nav-toggle-btn.active .toggle-line:nth-child(2) { opacity: 0; }
.nav-toggle-btn.active .toggle-line:last-child { transform: rotate(45deg); }

header, section .wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.hero-section .wrapper {
  /* min-height: 650px; */
  padding-top: 32px; 
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  align-items: center;
  background: url(../img/header-bg.svg) no-repeat bottom;
  background-size: 100% 25%;
}

.hero-left {
  flex-wrap: wrap;
  padding-left: 20px;
}

.hero-right {
  align-self: end;
}

.hero-heading {
  font-weight: 600;
}

.hero-subheading {
  margin-block: 12px 24px;
}

.hero-image {
  display: block;
  width: 100%;
  max-width: 700px;
}

.hero-btns button {
  white-space: pre-wrap;
  font-size: 15px;
  padding: 8px 32px;
}

.primary-btn.large { display: none; }

.hero-left input[type="checkbox"] {
  accent-color: var(--nero);
}

.hero-left label {
  font-size: 13px;
}

.info-slider-section .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 48px 20px;
}

.info-headings {
  flex-wrap: wrap;
  margin-bottom: 25px;
  display: flex;
  column-gap: 30px;
  row-gap: 5px;
  color: rgba(250,250,255,0.16);
}

.info-heading { 
  cursor: pointer; 
  font-size: 32px;
  user-select: none;
}

.info-heading.active {color: white;}

.info-title, .info-desc {
  margin-bottom: 10px;
  font-size: 22px;
}

.info-video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-video video {
  border-radius: 46px;
  object-fit: cover;
  border: 12px solid rgba(250,250,255,0.1);
}

.example-section .wrapper {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 48px 20px;
}

.example-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}

.example-heading {
  font-size: clamp(36px, 6vw, 80px);
  font-weight: 600;
}

.example-subheading {
  font-size: clamp(30px, 4vw, 48px);
  font-weight: 600;
}

.example-right {
  width: auto;
  max-height: 600px;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-content: center;
  align-items: center;
  scrollbar-width: none;
}

.example-right::scrollbar, .example-right::-webkit-scrollbar {
  appearance: none;
  display: none;
}

.event-card {
  align-self: center;
  margin: 0 auto;
  max-width: 300px;
  background: #fff;
  padding: 16px;
  box-shadow: 0 1px 2px hsla(0, 0%, 6%, .06);
  border-radius: 8px;
}

.card-image {
  width: 80px;
  height: 80px;
  padding: 8px;
  margin-bottom: 16px;
}

.event-card-stats {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #545454;
  font-size: 13px;
  margin-bottom: 8px;
}

p.event-card-title {
  text-align: left;
  font-size: 15px;
  color: #262626;
  margin-bottom: 24px;
}

.event-actions {
  display: flex;
  align-items: stretch;
  gap: 10px;
}

button {
  border: none;
  padding: 10px;
  font-size: 15px;
  flex: 1;
  border-radius: 6px;
  cursor: pointer;
}

.yes-btn {
  color: var(--blue);
  background: linear-gradient(104.13deg, hsla(0, 0%, 100%, .25) 3.11%, rgba(94, 163, 255, .125) 34.12%), #e8f2ff;
}

.no-btn {
  color: var(--red);
  background: linear-gradient(104.13deg, hsla(0, 0%, 100%, .25) 3.11%, hsla(6, 75%, 63%, .125) 34.12%), #fdf3f2;
}

.highlight-section .wrapper {
  padding: 0 20px 48px;
}

.top-highlights {
  min-height: 348px;
  display: flex;
  gap: 16px;
  overflow: auto;
}

.highlight-card:first-child {
  min-width: 300px;
  max-width: 300px;
  background: white;
  color: var(--nero);
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.highlight-card {
  min-width: 350px;
  max-width: 500px;
  padding: 32px 24px;
  border-radius: 4px;
  background: var(--nero);
  color: white;
  background-image: url(../img/cares.webp);
  background-repeat: no-repeat;
  background-size: auto 150px;
  background-position: 100% 100%;
  display: flex;
  flex-direction: column;
}

.highlight-title {
  display: block;
  margin-bottom: 12px;
  font-size: 32px;
  font-weight: 600;
}

.highlight-cta-link {
  flex: 2;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.highlight-card:last-child {
  background-image: url(../img/exit.webp);
}

@media screen and (min-width: 1025px) {
  .hero-heading {
    font-size: 60px;
    font-weight: 400;
  }
  .hero-heading:nth-child(2) {
    font-size: 48px;
  }
  .hero-subheading {
    font-size: 20px;
  }
}